@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 62.5%;

    --color-bright-blue: hsl(220, 98%, 61%);
    --color-linear-gradient1: hsl(192, 100%, 67%);
    --color-linear-gradient2: hsl(280, 87%, 65%);
}

.light {
    --color-text-primary: #494C6B;
    --color-text-secondary: #D1D2DA;
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #FAFAFA;
}

.dark {
    --color-text-primary: #C8CBE7;
    --color-text-secondary: #5B5E7E;
    --color-bg-primary: #25273D;
    --color-bg-secondary: #171823;
}
