@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 62.5%;

    --bright-blue: hsl(220, 98%, 61%);
    --linear-gradient1: hsl(192, 100%, 67%);
    --linear-gradient2: hsl(280, 87%, 65%);
}

.light {
    --text-primary: hsl(236, 9%, 61%);
    --text-secondary: hsl(233, 11%, 84%);
    --background-primary: hsl(0, 0%, 98%);
    --background-secondary: hsl(236, 33%, 92%);
}

.dark {
    --text-primary: hsl(233, 11%, 84%);
    --text-secondary: hsl(236, 9%, 61%);
    --background-primary: hsl(233, 14%, 35%);
    --background-secondary: hsl(237, 14%, 26%);
}
