@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 62.5%;

    --color-bright-blue: hsl(220, 98%, 61%);
    --color-linear-gradient1: hsl(192, 100%, 67%);
    --color-linear-gradient2: hsl(280, 87%, 65%);
}

.light {
    --color-text-primary: hsl(235, 19%, 35%);
    --color-text-secondary: hsl(233, 11%, 84%);
    --color-bg-primary: #fafafa;
    --color-bg-secondary: hsl(236, 33%, 92%);
}

.dark {
    --color-text-primary: hsl(233, 11%, 84%);
    --color-text-secondary: hsl(236, 9%, 61%);
    --color-bg-primary: hsl(233, 14%, 35%);
    --color-bg-secondary: hsl(237, 14%, 26%);
}
